@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-background-color: hsl(47, 88%, 63%);
  --secondary-background-color: hsl(0, 0%, 100%);
  --primary-font-color: hsl(0, 0%, 7%);
  --secondary-font-color: hsl(0, 0%, 42%);

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --card-width: 384px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree";
  background-color: var(--primary-background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: var(--spacing-300);

  padding: var(--spacing-50)
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  max-width: var(--card-width);
  width: 100%;

  background-color: var(--secondary-background-color);
  box-shadow: var(--spacing-100) var(--spacing-100) black;

  padding: var(--spacing-300);

  border-radius: 20px;

  transition: 0.8s;
}

.card:hover {
  box-shadow: var(--spacing-150) var(--spacing-150) black;
}

.blog-image img {
  width: 100%;
  border-radius: 20px;
}

.category {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);

  font-size: 14px;
  font-weight: 800;
  text-align: center;

  width: 82px;
  border-radius: var(--spacing-50);
  padding: var(--spacing-50) var(--spacing-150);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.publish {
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: var(--spacing-300);
  font-weight: 800;
  transition: 0.8s;
}

.card:hover .title {
  color: var(--primary-background-color);
}

.description {
  font-size: 16px;
  font-weight: 500;

  color: var(--secondary-font-color);
}

.profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.profile img {
  width: 32px;
}

.profile p {
  font-size: 14px;
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}