@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;

  background-color: var(--White);
  color: var(--Grey-400);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  min-height: 100vh;

  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  max-width: 350px;
  margin-top: 35px;

  text-align: center;
}

header .title {
  font-size: 1.6em;
  font-weight: 200;
}

header .title-two {
  color: var(--Grey-500);

  font-size: 1.6em;
  font-weight: 600;
}

header .description {
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: 325px;
  place-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  padding: 34px;

  border-radius: 6px;
  box-shadow: 0 10px 20px 1px hsla(234, 12%, 34%, 0.2);
}

.card.supervisor {
  border-top: 5px solid var(--Cyan);
}

.card.team {
  border-top: 5px solid var(--Red);
}

.card.karma {
  border-top: 5px solid var(--Orange);
}

.card.calculator {
  border-top: 5px solid var(--Blue);
}

.icon {
  width: 20%;
  align-self: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive */
@media ( min-width: 700px ) {
  header {
    max-width: 480px;
  }
  .container {
    grid-template-columns: repeat(2, 300px);
  }
}


@media (min-width: 1024px) {
  header {
    max-width: 580px;
  }

  .container {
    grid-template-columns: repeat(3, 350px);
  }

  .card {
    transition: 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
  }
  
  .card.supervisor {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
  }

  .card.team {
    grid-column: 2;
    grid-row: 1;
  }

  .card.karma {
    grid-column: 2;
    grid-row: 2;
  }

  .card.calculator {
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: center;
  }
}
