@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  text-align: center;

  background-color: hsl(212, 45%, 89%);

  display: grid;
  place-content: center;
  min-height: 100vh;

  padding: 20px;
}

.card {
  background-color: hsl(0, 0%, 100%);

  width: 100%;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;

  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}

article {
  padding: 16px;
}

img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.8rem;
  margin-top: 10px;
  line-height: 1.2;
}

h2 {
  color: hsl(216, 15%, 48%);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;

  margin-top: 10px;
}

@media (max-width: 500px) {
  .card {
    max-width: 320px;
    padding: 10px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 0.9rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}