@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --background-primary-color: hsl(212, 45%, 89%);
  --background-secondary-color: hsl(0, 0%, 100%);

  --font-primary-color: hsl(218, 44%, 22%);
  --font-secondary-color: hsl(216, 15%, 48%);

  --text-preset-1: 22px;
  --text-preset-2: 15px;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  --card-width: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  text-align: center;

  background-color: var(--background-primary-color);

  display: grid;
  place-content: center;
  min-height: 100vh;

  padding: var(--spacing-300);
}

.container {
  background-color: var(--background-secondary-color);

  width: 100%;
  max-width: var(--card-width);
  padding-top: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-left: var(--spacing-200);
  padding-bottom: 40px;

  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
}

.card {
  padding: var(--spacing-200);
}

.card-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.card-title {
  color: var(--font-primary-color);
  font-size: var(--text-preset-1);
  font-weight: 700;

  margin-top: var(--spacing-200);
  line-height: 1.2;
}

.card-description {
  color: hsl(216, 15%, 48%);
  font-size: var(--text-preset-2);
  font-weight: 400;

  margin-top: var(--spacing-200);
  line-height: 1.4;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}