@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;

  background-color: var(--grey-900);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
}

.card {
  background-color: var(--grey-800);

  width: 100%;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile-header img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;

  background-size: cover;
}

.profile-name, .bio, .social-links a {
  color: var(--white);
  text-align: center;
}

.profile-name {
  font-size: 28px;
  font-weight: 700;
}

.location {
  color: var(--green);
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.bio {
  font-weight: 400;
  font-size: 14px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 18px;
  width: 90%;
}

.social-links li {
  background-color: var(--grey-700);

  list-style: none;
  text-align: center;
  
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.social-links li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
}

.attribution {
  margin-top: 50px;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
